body {
    font-family: Arial, sans-serif;
    text-align: left;
    background-image:linear-gradient(rgba(24, 24, 24, 0.594),rgba(0, 0, 0, 0.621)), url(https://i.pinimg.com/originals/99/4e/53/994e5335b9e54a2bdee1077049c7d653.jpg);

}

*{font-family:lucida; color: white;}
h1 {
    color:rgb(255, 255, 255);
    text-align: center;
    
}
h2{
    color: orchid;}

button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}
